body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  background-color: #363636;
}

h1 {
  color: #e6c300;
}

img {
  width: 90vw;
  max-width: 256px;
}

.wrapper {
  max-width: 900px;
}

.keyboard__input {
  width: 100%;
  height: 200px;
  margin: 0px 0px 30px 0px;
}

.keyboard__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 13px;
}

.key.big {
  width: 90px;
}

.key.space {
  padding: 0px 130px;
}

.key {
  width: 45px;
  height: 45px;
  display: flex;
  border-radius: 3px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.75);
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125;
  padding: 0.33em 0.66em;
  position: relative;
  text-align: center;
  vertical-align: middle;
  border: 3px solid transparent;
  border-top: 2px solid transparent;
  border-bottom: 6px solid transparent;
  background-color: #e9e8e6;
  border-color: #c3c0bb;
  border-top-color: #eeedeb;
  border-bottom-color: #a6a29a;
  box-shadow: 0 -0.125em 0 -0.063em #a6a29a,
    0 0.125em 0 -0.063em rgba(0, 0, 0, 0.5);
  transition: transform 100ms;
  outline: 0;
  align-items: center;
  justify-content: center;
}
